################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
*.user
/Business.SourceGenerator/bin
/Business.SourceGenerator/obj
/Business.SourceGenerator/.vs
