/.vs
*.user
/Business.SourceGenerator/bin
/Business.SourceGenerator/obj
/Business.SourceGenerator/.vs
/Business.SourceGenerator/Properties
/Business.SourceGenerator.Test/bin
/Business.SourceGenerator.Test/obj
/Business.SourceGenerator.Test/Properties
